@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.imgContainer{
    text-align: center; 
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}
.imageContainer{
    margin-top: 50px;
    margin: 30px auto;
    max-width: 600px;
    width: 80%;
}
.imageContainer h1{
    font-size: 2.5rem;
    color: white;
    margin-bottom: 12px;
    text-align: center;
}
.imageContainer hr{
    margin-bottom: 15px;
}
.imageContainer .weekImage{
    width: 60%;
}
.weekImage{
    animation: scales 1s linear 0s infinite;
    margin-bottom: 25px;
}
@keyframes scales{
    from{
        transform: scale(0.95);
    }
    to{
        transform: scale(1.05);
    }
}
.imageContainer .solutionImage{
    width: 100%;
    border: 3px solid black;
}
.imageContainer img:hover{
    cursor: pointer;
}
.solutions img{
    margin-bottom: 40px;
}
.solutions h1{
    color: #fff;
}
.weekH1{
    font-family: 'Impact', 'Comic Sans MS', cursive, sans-serif;
    background: linear-gradient(90deg, #ff00cc, #3333ff, #00ff99, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px dashed #ff00cc;
    border-radius: 20px;
    padding: 10px 20px;
    animation: crazyBounce 1.5s infinite alternate, rainbow 3s linear infinite;
    letter-spacing: 0.2em;
    transform: rotate(-5deg) skewY(2deg);
}
.questionH1{
    font-size: .9rem;
    font-family: 'Inter', sans-serif;
    border-left: 2px solid #ff00cc;
    border-bottom: 2px solid #ff00cc;
    padding: 10px 20px;
    width: fit-content;
    letter-spacing: 0.06em;
    border-radius: 0 10px 10px 0;
    font-weight: 500;
}
@keyframes crazyBounce {
  0% { transform: scale(1) rotate(-3deg) skewY(2deg);}
  100% { transform: scale(1.1) rotate(3deg) skewY(-2deg);}
}

@keyframes rainbow {
  0% { filter: hue-rotate(0deg);}
  100% { filter: hue-rotate(360deg);}
}